@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Press+Start+2P&display=swap');

:root{

    /* Fonts */
    --font-primary: "Press Start 2P", system-ui;
    --font-secondary: "Fira Code", monospace;

    /* Colors */
    --color-primary: #F25A70;
    --color-secondary: #7C5E99;

    --color-white: #fff;

    --color-black-first: #000;
    --color-black-second: #3A4042;
    --color-black-third: #828282;

    --color-error: #BA1F33;
    --color-warning: #CEB02A;
    --color-success: #62C370;

    --color-background: #7C5E99;
    --color-bg-btn: #F25A70;
    --color-bg-footer: #3A4042;
    --color-bg-footer-icon: #000;

    /* font-sizer */
    --font-xs: 1.2rem;
    --font-sm: 1.4rem;
    --font-md: 1.6rem;
    --font-lg: 2rem;
    --font-xl: 2.4rem;
    --font-xxl: 3.2rem;

    /* spacing */
    --space-xxs: 0.02rem;
    --space-xs: 0.4rem;
    --space-sm: 0.8rem;
    --space-md: 1.6rem;
    --space-lg: 2.4rem;
    --space-xl: 3.2rem;
    --space-xxl: 4.8rem;

    --space-2xl: 4.8rem;
    --space-3xl: 6.3rem;
    --space-4xl: 7.9rem;
    --space-5xl: 9.5rem;

    /* border */

    --border-md: 0.1rem;
    --border-lg: 0.2rem;

    /* border-radius */
    --radius-sm: 0.4rem;
    --radius-md: 0.8rem;
    --radius-lg: 1.6rem;
    --radius-full: 9999px;

}
